.sect-body {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-bottom: 20px;
  align-items: center;
  text-align: center;
  justify-items: center;
  background-color: rgba(212, 212, 212, 0.685);
  border-radius: 10px;
}

.form-wrapper {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding: 10px;
  margin-right: 10px;
}
.input-group {
  display: flex;
  flex-direction: row;
  width: 100%; /* 부모 요소 기준 가로 정렬 */
  gap: 10px; /* 입력창 사이 간격 */
  flex: 1;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.form-wrapper button {
  align-items: flex-end;
  justify-content: end;
}

.dropdown-menu label {
  display: block;
  padding: 10px;
  cursor: pointer;
}
.dropdown-menu label:hover {
  background-color: #f8f9fa;
}

.map-container {
  width: 100%;
  height: 400px; /* 원하는 높이로 설정 */
}
/* Responsive Design */
@media (max-width: 768px) {
  .sect-body {
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 576px) {
  .sect-body {
    display: flex;
    flex-direction: column;
  }
}
