<!-- Footer -->
<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-6 text-center text-md-start">
        <p>&copy; 2025 PETTY. All rights reserved.</p>
      </div>
      <div class="col-md-6 text-center text-md-end">
        <!-- Social Media Icons -->
        <a href="#" class="text-dark me-3"><i class="bi bi-facebook"></i></a>
        <a href="#" class="text-dark me-3"><i class="bi bi-instagram"></i></a>
        <a href="#" class="text-dark"><i class="bi bi-twitter"></i></a>
      </div>
    </div>
  </div>
</footer>
